/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Gotham-BookItalic";
  src: url("../fonts/Gotham-BookItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Gotham-BookItalic.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Gotham-BookItalic.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Gotham-BookItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Gotham-BookItalic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Gotham-BookItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamNarrow-Book";
  src: url("../fonts/GothamNarrow-Book.eot"); /* IE9 Compat Modes */
  src: url("../fonts/GothamNarrow-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/GothamNarrow-Book.otf") format("opentype"), /* Open Type Font */
    url("../fonts/GothamNarrow-Book.svg") format("svg"), /* Legacy iOS */
    url("../fonts/GothamNarrow-Book.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/GothamNarrow-Book.woff") format("woff"), /* Modern Browsers */
    url("../fonts/GothamNarrow-Book.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "GothamNarrow-Medium";
  src: url("../fonts/GothamNarrow-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/GothamNarrow-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/GothamNarrow-Medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/GothamNarrow-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/GothamNarrow-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/GothamNarrow-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/GothamNarrow-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamNarrow-Bold";
  src: url("../fonts/GothamNarrow-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/GothamNarrow-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/GothamNarrow-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/GothamNarrow-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/GothamNarrow-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/GothamNarrow-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/GothamNarrow-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "GothamNarrow-Light";
  src: url("../fonts/GothamNarrow-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/GothamNarrow-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/GothamNarrow-Light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/GothamNarrow-Light.svg") format("svg"), /* Legacy iOS */
    url("../fonts/GothamNarrow-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/GothamNarrow-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/GothamNarrow-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.GothamNarrow-Light{
  font-family: "GothamNarrow-Light";
}

.GothamNarrow-Bold{
	font-family: "GothamNarrow-Bold";
}

.GothamNarrow-Medium{
	font-family: "GothamNarrow-Medium";
}

.GothamNarrow-Book{
	font-family: "GothamNarrow-Book";
}

.Gotham-BookItalic{
	font-family: "Gotham-BookItalic";
}

.fondo-banner {
    background-image: url(../images/fondo-banner.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-name1{
  font-size: 28px !important;
}

.fondo-principal{
  background-color: #a2a2a2 !important;
}

.boton-comprar{
      color: #FFFFFF;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #23A455;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 25px 25px 25px 25px;
    padding: 15px 45px 15px 45px;
}

#countdown div {
  font-size: 25px;
}
.boton-comprar:hover {
  color: #00ce1b;
    background-color: rgba(0,206,27,0);
    border-color: #00ce1b;
        transform: scale(1.1);
}

.texto {
    font-size: 24px;
}

.tex-mediano {
    font-size: 30px;
    font-weight: 700;
}

.text-grande {
    font-size: 38px;
    font-weight: 800;
}

.text-pequeno {
    font-size: 25px;
}

.logo{
  width: 20% !important;
}

.red{
  background-color: red;
}

.linea{
  text-decoration: underline;
}

.fondo-banner2 {
    background-image: url(../images/fondo-banner.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.owl-carousel .owl-item img {

    display: block;
    width: 100%;
    height: auto !important;

}
.img-fluid {

    width: 100%;

}
.text-name{
    font-size:24px;
}
.seccion-body{
    padding:40px 0px;
}


.titulo {
    font-weight: 900;
    color: #fff;
    font-size: 40px;
}

.imagen-principal {
    width: 100%;
}

.fondo-transparente {
    background-color: #2c43507a;
    height: auto;
}

.fondo-transparente3 {
    background-color: #20303adb;
    height: auto;
    padding: 20px 28px;
}

.fondo-transparente2 {
    background-color: #2c435099;
    height: auto;
    padding: 20px 26px;
}

.fondo-transparent {
background-color: #1a363d;
}

.fila{
    padding: 35px 24px;
}

.card-images{
    width: 50% !important;
    border-radius: 100%;
    margin: auto;
    text-shadow: 2px 2px 2px #002;
    box-shadow: 2px 2px 12px #888;
}

.card-text{
    height: 300px;
    overflow: auto;
}

.card-text::-webkit-scrollbar {
    width: 5px !important;
}

.card-text::-webkit-scrollbar-thumb {
    background: #a0a0a0 !important;
}



.fondo-azul{
  background-color: #133c55;
  min-height: 20vh;
}

.fondo-gris {
    background: #f0f0f0;
}

.btn-footer {
    background-color: #fc6c34 !important;
    border: 1px solid #fc6c34;
    border-radius: 7px;
    padding: 6px 40px;
}

.btn-footer:hover {
    background-color: #fff !important;
    border: 1px solid #fc6c34;
    border-radius: 7px;
    padding: 6px 40px;
    color: #fc6c34 !important;

}

.card-2 {
    box-shadow: 2px 0px 29px #b7b7b7;
    padding: 10px 7px;
    border-radius: 15px;
    margin: 24px;
}

.fa-quote-left{
    font-size: 55px;
    margin-bottom: 16px;
    color: tomato;
}

.fa-check{
    color: tomato;
}

.owl-nav{
    display: none !important;

}

.parrafo-lista{
    font-size: 22px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 95% !important;
}

.title-form{
  color: yellow;
}

.footer{
    background-color: #585858;
    color: #fff;
    padding: 49px 8px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.logo-confirmacion{
  max-width: 220px;
}

.text-completa{
  font-size: 28px;
  font-weight: bold;
}

@media(min-width: 1024px){
.fondo-transparente2 {
    background-color: #2c435099;
    height: auto;
    padding: 20px 26px;
}  
.text-completa{
  font-size: 44px;
} 
.logo-confirmacion{
  max-width: 380px;
}

.texto{
  font-size: 30px;
}

.text-grande{
  font-size: 60px;
      font-weight: 800;
}

.text-pequeno{
  font-size: 40px;
}

.tex-mediano {
    font-size: 50px;
    font-weight: 700;
}

.pequeno{
  font-size: 12px
}

.fondo-banner2 {
    background-image: url(../images/fondo-banner.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.fondo-banner {
    background-image: url(../images/fondo-banner.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}    
.card-2 {
    box-shadow: 2px 0px 29px #b7b7b7;
    padding: 10px 7px;
    border-radius: 15px;
    margin: 24px;
}

.imagen-principal{
    width: 70%;
}

.fondo-transparente {
    background-color: #2c43507a;
    height: auto;
}
.fondo-transparente2 {
    background-color: #2c435099;
    height: auto;
    padding: 20px 33px;
}

.fondo-banner {
    background-image: url(../images/fondo-banner.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

}


@media(min-width: 1280px){

  .fondo-transparente2 {
    padding: 46px 33px;
}
.fondo-transparente3 {
    background-color: #20303adb;
    height: auto;
    padding: 20px 28px;
}

}


@media(min-width: 1366px){
    .card-2 {
    box-shadow: 2px 0px 29px #b7b7b7;
    padding: 10px 55px;
    border-radius: 15px;
    margin: 24px;
}
}

@media(min-width: 1440px){



.fila2{
  padding-top: 5%;
}

.card-2 {
    box-shadow: 2px 0px 29px #b7b7b7;
    padding: 51px 55px;
    border-radius: 15px;
    margin: 24px;
}

.sub-title{
    font-size: 33px;
}

.sub-title2{
  font-size: 24px;
    margin-bottom: 23px;
}

}


@media(min-width: 1600px){


.fila2 {
    padding-top: 9%;
}

.card-2 {
    box-shadow: 2px 0px 29px #b7b7b7;
    padding: 75px 58px;
    border-radius: 15px;
    margin: 24px;
}

}

@media(min-width: 1680px){
}



@media(min-width: 1920px){
.fondo-transparente2 {
    background-color: #2c435099;
    height: auto;
    padding: 7% 5%;
}

.fila{
  margin-top: 5% !important;
}

.fondo-banner {
    background-image: url(../images/fondo-banner.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-title{
    font-size: 34px;
}
  
.sub-title2{
    font-size: 23px;
    margin-bottom: 36px;
}

.card-2 {
    box-shadow: 2px 0px 29px #b7b7b7;
    padding: 37px 55px;
    border-radius: 15px;
    margin: 85px;
}

}